[Unit]
Description=Vector Service
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/vector --config {{ vector_config_dir }}/vector.yml
Restart=always

[Install]
WantedBy=multi-user.target

